<body>
</br>
<p><strong>Title:</strong><%= @book.title %></p>
</br>
<p><strong>Body:</strong><%= @book.body %></p>
</br>
<a class="edit" href="/edit">Edit</a> |
<a class="back" href="/books">Back</a>
</body>

